<div class="container">
  <h1>Favourite language</h1>
  <h2>Enter a GitHub username and discover your favourite language</h2>
  <form action="">
    <label>
      <input type="text" placeholder="Your Github username..." class="username">
    </label>
    <button>></button>
  </form>
  <ul class="results"></ul>
</div>
