body, html {
  background-color: #c95a5d;
  font-family: 'Merriweather', serif;
  color: #e9bdbe;
}

.container {
  width: 740px;
  margin: 0 auto;
}

h1 {
  font-size: 86px;
  letter-spacing: -6px;
  text-align: center;
  color: white;
  margin: 20px 0 0;
}

h2 {
  letter-spacing: -1px;
  text-align: center;
  margin: 0 0 40px;
}

form {
  position: relative;
}

label {
  display: block;
  border: 3px solid #e9bdbe;
}

input {
  width: 100%;
  outline: none;
  border: none;
  background: #c95a5d;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  font-family: 'Merriweather', serif;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}

input:-ms-input-placeholder { color: #e9bdbe; }
input::-moz-placeholder { color: #e9bdbe; }
input:-moz-placeholder { color: #e9bdbe; }
input::-webkit-input-placeholder { color: #e9bdbe; }

button {
  position: absolute;
  top: 50%;
  right: 10px;
  border: none;
  background: transparent;
  color: white;
  font-size: 60px;
  margin-top: -27px;
  line-height: 60px;
  outline: none;
}

.results {
  padding: 20px 0 0;
  list-style-type: none;
}

.result {
  margin: 5px;
  font-size: 24px;
  border-left: 5px solid #e9bdbe;
  padding: 15px 18px 18px 30px;
}

.result:before,
.result:after {
    content: " ";
    display: table;
}

.result:after {
    clear: both;
}

.result div {
  float: left;
  width: 50%;
}

.result div:last-child {
  text-align: right;
}

.results .result:first-child {
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
}

#loader {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: inline-block;

  font-size: 50px;
  line-height: 50px;
  overflow: hidden;

  position: fixed;
  top: 10px;
  right: 10px;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
